In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
df=pd.read_csv("creditcard.csv")
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [3]:
df.shape

(284807, 31)

In [4]:
df[df["Class"]==1].count()

Time      492
V1        492
V2        492
V3        492
V4        492
V5        492
V6        492
V7        492
V8        492
V9        492
V10       492
V11       492
V12       492
V13       492
V14       492
V15       492
V16       492
V17       492
V18       492
V19       492
V20       492
V21       492
V22       492
V23       492
V24       492
V25       492
V26       492
V27       492
V28       492
Amount    492
Class     492
dtype: int64

In [5]:
x=df.drop("Class",axis=1)

In [6]:
x.shape

(284807, 30)

In [7]:
y=df["Class"]

In [13]:
y=np.array(y).reshape(-1,1)

In [14]:
y.shape

(284807, 1)

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [34]:
x_train.shape

(227845, 30)

In [35]:
y_train.shape

(227845, 1)

In [36]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression(max_iter=1000)

model.fit(x_train,y_train)

model.score(x_test,y_test)

y_pred=model.predict(x_test)

from sklearn.model_selection import cross_val_score
cross_val_score(model,x,y,cv=5).mean()

In [73]:
from sklearn.metrics import accuracy_score
test=accuracy_score(y_test,y_pred)
train=accuracy_score(y_train,model.predict(x_train))

test,train

In [53]:
from sklearn.tree import DecisionTreeClassifier

model1=DecisionTreeClassifier()
model1.fit(x_train,y_train)

model1.score(x_test,y_test)

y_pre=model1.predict(x_test)

In [66]:
test=accuracy_score(y_test,y_pre)
train=accuracy_score(y_train,model1.predict(x_train))

In [67]:
test,train

(0.9991397773954567, 1.0)

In [61]:
from sklearn.model_selection import StratifiedKFold
skf=StratifiedKFold(n_splits=5)

In [62]:
cross_val_score(model1,x,y,cv=skf).mean()

0.7999543358102633